# Required
EXCHANGE_RPOXY=0xdef1c0ded9bec7f1a1670819833240f027b25eff
RPC_URL=http://localhost:8545
CHAIN_ID=1337

# Optional
LOG_LEVEL=info
POSTGRES_URI=postgresql://api:api@localhost/api
PORT=8008
SRA_ORDER_EXPIRATION_BUFFER_SECONDS=10
POLLING_INTERVAL=500

# WS_RPC_URL=